@import "tailwindcss"; 

@theme {
  --color-primary: #00d991;
  /* --color-secondary: #f59e0b; */
}
@custom-variant dark (&:where(.dark, .dark *));

.dark{applay  bg-balck  text-white}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding: 20px;
}